{{#if this.topic.limit_reached}}
  <span
    class="badge badge-notification"
    title={{i18n "discourse_topic_management.topic_list.limit_reached.title"}}
    style="color: var({{siteSettings.discourse_topic_notification_color}}); background-color: var({{siteSettings.discourse_topic_notification_background_color}})"
  >
    {{i18n "discourse_topic_management.topic_list.limit_reached.message"}}
  </span>
{{/if}}