<div class="bottom-tabs tabs-list">
  <LinkTo
    @route="archived-topics"
    @model={{this.user}}
    class="btn btn-flat btn-icon no-text user-menu-tab"
    title={{i18n "discourse_topic_management.archived_topics.title"}}
  >
    {{d-icon "box-archive"}}
  </LinkTo>
</div>